<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- meta要素の部品（meta）を呼び出す -->
	<div th:replace="~{fragment :: meta}"></div>
	<!-- Bootstrapなどのスタイル部品（styles）を呼び出す -->
	<div th:replace="~{fragment :: styles}"></div>

	<title>NAGOYAMESHI ADMIN</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー部品（header）を呼び出す -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container nagoyameshi-container pb-5 pt-4">

				<!-- 見出し -->
				<h2 class="fw-bold mb-4 text-dark text-center">新規カテゴリを登録する</h2>

				<div class="row justify-content-center">
					<div class="col-xl-9 col-lg-10">

						<!-- 投稿用フォーム -->
						<div class="card border-0 shadow-sm">
							<div class="card-body p-4 p-md-5">

								<!-- フォームの設定 -->
								<form method="post" th:action="@{/admin/categories/create}"
									th:object="${adminCategoryRegisterForm}">

									<!-- 店舗名 -->
									<div class="mb-4">
										<label for="name" class="form-label fw-bold" style="color: #4a3c31;">
											<span class="badge bg-danger me-2"
												style="font-size: 0.75rem;">必須</span>カテゴリ名
										</label>

										<input type="text" id="name" class="form-control" th:field="*{name}"
											th:errorclass="is-invalid">

										<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
											class="invalid-feedback fw-bold"></div>
									</div>

									<!-- 投稿ボタン -->
									<div class="form-group d-flex justify-content-center border-top pt-4">
										<button type="submit"
											class="btn btn-dark text-white shadow-sm w-50">新規登録する</button>
									</div>
								</form>

							</div>
						</div>

					</div>　<!-- 全体配置の閉じタグ -->
				</div>
			</div>
		</main>
		<!-- フッター部品（footer）を呼び出す -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<!-- BootstrapのJavaScript部品（scripts）を呼び出す -->
	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>